{% extends 'pastacorner/header.html' %}
{% load staticfiles %}
{% block content %}
    <section id="showcase">
      <div class="container">
        <div class="carousel-container">

          <div id="carousel">
            <div class="carousel-feature">
              <a href="#"><img class="carousel-image" alt="Image Caption" src="{% static 'pastacorner/img/pasta1.jpeg'%}" style="width:550px;height:350px;"></a>
            </div>
            <div class="carousel-feature">
              <a href="#"><img class="carousel-image" alt="Image Caption" src="{% static 'pastacorner/img/pasta2.jpeg'%}" style="width:550px;height:350px;"></a>
            </div>
            <div class="carousel-feature">
              <a href="#"><img class="carousel-image" alt="Image Caption" src="{% static 'pastacorner/img/pasta3.jpg'%}" style="width:550px;height:350px;"></a>
              </div>
            <div class="carousel-feature">
              <a href="#"><img class="carousel-image" alt="Image Caption" src="{% static 'pastacorner/img/pasta4.jpg'%}" style="width:550px;height:350px;"></a>
            </div>
          </div>

          <div id="carousel-left"><img src="{% static 'pastacorner/img/arrow-left.png'%}" /></div>
          <div id="carousel-right"><img src="{% static 'pastacorner/img/arrow-right.png'%}" /></div>
        </div>
      </div>
    </section>
    <section id='boxes'>
      <div class="container">
        <div class="label-menu">Explore Our Dishes</div>
        <div class="box">
          <h3>Lunch</h3>
          <img src="{% static 'pastacorner/img/lunch.jpg'%}">
        </div>
        <div class="box">
          <h3>Dinner</h3>
          <img src="{% static 'pastacorner/img/dinner.jpg'%}">
        </div>
        <div class="box">
          <h3>Desserts</h3>
          <img src="{% static 'pastacorner/img/dessert.jpg'%}">
        </div>

      </div>
    </section>

    {% endblock %}
