
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width">
    <title>Pasta Corner | Menu</title>
    <link rel="stylesheet" href="{% static 'pastacorner/css/style.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'pastacorner/css/feature-carousel.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'pastacorner/css/fontfamily.css'%}" type="text/css"/>

    <script src="{% static 'pastacorner/js/jquery-1.7.min.js'%}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'pastacorner/js/jquery.featureCarousel.min.js'%}" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript">
      $(document).ready(function() {
        var carousel = $("#carousel").featureCarousel({

        });

      });
      </script>
  </head>
  <body>


    <header>
      <div class="container">
        <div id="branding">
          <img src="{% static 'pastacorner/img/logo.png'%}" style="width:75px;height:75px;">
          <h1><span class="highlight"> Pasta</span> Corner</h1>
        </div>
        <nav>
          <ul>
          <li><a href="{% url 'pastacorner:index' %}">Home</a></li>
          <li><a href="{% url 'pastacorner:about' %}">About</a></li>
          <li class="current"><a href="{% url 'pastacorner:menu' %}">Food Menu</a></li>
          <li><a href="{% url 'pastacorner:gallary' %}">Gallery</a></li>
          <li><a href="{% url 'pastacorner:contact' %}">Contact Us</a></li>
          </ul>

        </nav>
      </div>

    </header>
    {% block content %}
    <section id="menu">
      <div class="container">

        <article id="menu-col">
          <h1 id="page-title">Our Menu</h1>
          <div class='menu-box'>
            <div id="lunch">
              <h3>Lunch</h3>
              <ul>
              {% for p in FoodMenu %}
              {% if p.menu_type == "Lunch" %}
                <li>{{ p }}</li>
                {% endif %}
                {% empty %}
                <li>Nothing yet</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class='menu-box'>
            <div id="dinnermenu">
              <h3>Dinner</h3>
              <ul>
              {% for p in FoodMenu %}
              {% if p.menu_type == "Dinner" %}
                <li>{{ p }}</li>
                {% endif %}
                {% empty %}
                <li>Nothing yet</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class='menu-box'>
            <div id="dessertmenu">
              <h3>Dessert</h3>
              <ul>
              {% for p in FoodMenu %}
              {% if p.menu_type == "Dessert" %}
                <li>{{ p }}</li>
                {% endif %}
                {% empty %}
                <li>Nothing yet</li>
                {% endfor %}
              </ul>
            </div>
          </div>


        </article>
      </div>
    </section>
{% endblock %}

    <footer>
      <p>University of Denver ICT4370-1 Final Project, Copyright &copy; 2017</p>
    </footer>


  </body>
</html>
